---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
		title: "Astro",
	},
	{
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
		title: "Tailwind CSS",
	},
	{
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
		title: "Markdown",
	},
	{
		desc: "Markdown for the component era.",
		href: "https://mdxjs.com/",
		title: "MDX",
	},
	{
		desc: "Generating png Open Graph images for blog posts.",
		href: "https://github.com/vercel/satori",
		title: "Satori",
	},
	{
		desc: "A fully static search library.",
		href: "https://pagefind.app/",
		title: "Pagefind",
	},
	{
		desc: "An easy to use Icon component for Astro.",
		href: "https://github.com/natemoo-re/astro-icon#readme",
		title: "Astro Icon",
	},
	{
		desc: "Highly customisable source code & syntax highlighter",
		href: "https://expressive-code.com/",
		title: "Expressive Code",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Mehdi4J</h1>
		<p class="mb-4">
			A transactional log where I append all my events, ideas, writings, and guides.
		</p>
		<h3 class="mb-6">
			M4J is a personnel blog covering Cloud Computing, Programming, Virtualization, Operations and
			many more...
		</h3>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-expect-error - issue with -> @astrojs/check@0.9.3 */}
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<!-- <section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://astro.build"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Astro
				</a>:
				<p class="inline-block sm:mt-2">Build fast websites, faster.</p>
			</li>
			<li>
				<a
					href="https://docs.astro.build/en/guides/integrations-guide/image/"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>@astro/image
				</a>:
				<p class="inline-block sm:mt-2">
					An Astro integration for optimising images in Astro projects.
				</p>
			</li>
			<li>
				<a
					href="https://tailwindcss.com"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Tailwind CSS
				</a>:
				<p class="inline-block sm:mt-2">
					Rapidly build modern websites without ever leaving your HTML.
				</p>
			</li>
			<li>
				<a
					href="https://www.markdownguide.org/"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Markdown
				</a>:
				<p class="inline-block sm:mt-2">Simple and easy-to-use markup language.</p>
			</li>
			<li>
				<a
					href="https://mdxjs.com/"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>MDX
				</a>:
				<p class="inline-block sm:mt-2">Markdown for the component era.</p>
			</li>
		</ul>
	</section> -->
</PageLayout>
